/*todo: Crete css modules*/
:root {
    --text-color: white;

    --primary-color: #212529;
    --primary-color-light: #3d3f3f;
    --primary-color-light-x2: #949494;
    --primary-color-opacity-8: rgba(33, 37, 41, 0.76);

    --secondary-color: #0b3d91;
    --secondary-color-light: #02bfe7;
    --secondary-color-light-x2: #6be5ff;
    --secondary-color-dark: #061f4a;

    --thernary--color: #14b17c;

    --error-bg : rgba(104, 11, 110, 0.58);
    --error-border : #0f3a04;
    --error-text : #a23dab;

    /*--background: linear-gradient(to right bottom, #0f0f0f77, rgba(247, 247, 247, 0.315), #0f0f0f77,  rgba(17, 212, 212, 0.459));*/
    --background: linear-gradient(to right bottom, #0f0f0f77, rgba(247, 247, 247, 0.315), #0f0f0f77);
}


/*
 * Globals
 */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    color: var(--text-color);

}

a, a:hover, a:active, a:focus, a::before, a::after {
    text-decoration: none; /* no underline */
    color: var(--text-color);
}

ol, ul, li {
    margin: 0;
    padding: 0;
}




/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*
Good Backgrounds:
- 4
- 6
- 7
- 11 (Footer / Contact?)
- 12
- 14
- 15
- 18
- 20
- 22
- 23
*/

.background--image {
  /*background-image:  url('../images/backgrounds/background_1.jpg');*/
}
.background--image-gallery {
    background-image:  url('../images/gallery.jpg');
}
.background--image-about {
    background-image:  url('../images/about.jpg');
}
.background--image-contact-me {
    background-image:  url('../images/contact_me.jpg');
}



.background--parallax-simple {
    height: 80vh;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    /* PARALLAX EFFECT (SIMPLE) */
    box-sizing: content-box;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    overflow: hidden;
}

/*Scroll Bar */
html,body {
    scrollbar-color: var(--primary-color-light-x2) var(--primary-color) ;
    scrollbar-width: thin;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: .5em;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb ,
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light-x2);
  outline: 1px solid var(--primary-color);
}

/*  NAVBAR */
.spacehub--navbar {
    position: fixed;
    z-index: 1000;

}
.spacehub--navbar,
.spacehub--navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.spacehub--navbar-wrapper {
    justify-content: center;
    align-items: center;

}

.spacehub--brand {
    position: relative;
}

.spacehub--brand-wrapper {
    text-transform: uppercase;
    padding: 1rem;
    cursor: default;
    text-shadow:
        1px 0px 1px #313131,
        0px 1px 1px #737373,
        2px 1px 1px #313131,
        1px 2px 1px #737373,
        3px 2px 1px #313131,
        2px 3px 1px #737373,
        4px 3px 1px #313131,
        3px 4px 1px #737373,
        5px 4px 1px #313131,
        4px 5px 1px #737373,
        6px 5px 1px #313131,
        5px 6px 1px #737373,
        7px 6px 1px #313131,
        2px 2px 2px rgba(35,15,9,0),
        -2px -1px 11px rgba(255, 255, 255, 0.7),
        2px -1px 11px rgba(255, 255, 255, 0.7);

}

.spacehub--brand-wrapper > * {
    font-size: 2rem;
    font-weight: bold;
}

.spacehub--navbar-items {
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 50vh;
    overflow: hidden;
    position: relative;
    transition: 550ms ease-in-out;
    -webkit-transform-origin: top;
          transform-origin: top;
}

.spacehub--navbar-items ul li {
    margin-top: 1rem;
    cursor: pointer;
    z-index: 1000;
}

.spacehub--navbar-items ul li:hover {
    background-color: var(--primary-color);
    filter: brightness(140%);

}
.spacehub--navbar-items ul li:hover > * {
    color: var(--secondary-color-light-x2);
}


.spacehub--navbar-items ul li:last-of-type {
    margin-bottom: 1rem;
}

.spacehub--navbar-items ul li.selected {
    cursor: unset;
    background-color: var(--primary-color);
    filter: brightness(140%);
}
.spacehub--navbar-items ul li.selected a {
    cursor: default;
}
.spacehub--navbar-items ul li.selected > * {
    color: var(--secondary-color-light-x2);
}



/* HEADER */
.spacehub--header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacehub--header-small {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* COMPONENTS */

.spacehub--card {
    padding: 2rem;
}

.spacehub--card-many-wrapper {
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
     grid-row-gap: 50px;
     grid-column-gap: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.spacehub--card-many-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2rem;
  text-align: center;
}
.widget--pod {
    cursor: pointer;
}
.spacehub--bg-primary-op--8 {
    background-color: var(--primary-color-opacity-8);
}

.spacehub--bg-primary {
    background-color: var(--primary-color);
}

.spacehub--text-secondary {
    color: var(--secondary-color-light-x2);
}

.spacehub--text-title {
    text-transform: uppercase;
    font-size: 1.8rem;
}


.spacehub--card-many-item * {
  font-size: 1rem;
}

.figure,
.card-press {
    transform-style: preserve-3d;
    -webkit-perspective: 45rem;
    perspective: 45rem;
}

.spacehub--figure-caption,
.spacehub--figure-caption-static{
    position: relative;
    font-size: 1.2rem;
    padding: 2rem;
    margin-top: 2rem;

    -webkit-transition: transform .5s ease, background-color 1.8s ease-out,  box-shadow 1.9s ease;
    -moz-transition: transform .5s ease, background-color 1.8s ease-out,  box-shadow 1.9s ease;
    -o-transition: transform .5s ease, background-color 1.8s ease-out,  box-shadow 1.9s ease;
    transition: transform .5s ease, background-color 1.8s ease-out,  box-shadow 1.9s ease;
}
.spacehub--figure-caption *,
spacehub--figure-caption-static * {
    color: white;
}

.spacehub--figure-caption-static .spacehub--figure-caption-static-description{
    font-size: 1.5rem;
}

.spacehub--figure-caption:hover {
    transform: translateZ(5rem);
    background-color: #000000;
    font-size:  1.5rem;
    box-shadow:
            0px -10px 12px rgb(255 252 0 / 48%),  0px 10px 24px rgb(255 252 0 / 48%),
            0px -11px 13px rgb(4 149 100 / 50%),  0px 11px 13px rgb(4 149 100 / 50%),
            0px -12px 14px rgb(0 32 236 / 98%),   0px 12px 14px rgb(0 32 236 / 98%),
            0px -13px 15px rgb(255 159 68 / 62%), 0px 13px 15px rgb(255 159 68 / 62%),
            0px -14px 16px rgb(255 10 10 / 84%),  0px -14px 16px rgb(255 10 10 / 84%);
}

.spacehub--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 1rem;
}

.spacehub--image-sized {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 1rem;
}

.spacehub--video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-top: 1rem;
}

.spacehub--video-sized {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 1rem;
}

.spacehub--section-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--secondary-color-light);
    padding: 1.5rem;
    margin-left: auto;
}

.spacehub--section-title-nomargin {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--secondary-color-light);
    padding: 1.5rem;
}

.spacehub--section-text {
    width: 50%;
    font-size: 1rem!important;
}

.spacehub--card--header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 13rem;
}

.spacehub--link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--secondary-color-light);
}



.widget--card-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    /*  Push it up. bigger content covers it  */
    position: relative;
    top: 0;
    left: 0;
    z-index: 1010;

}

.widget--calendar {
    display: inline-block;
}


.POD-WIdget h3:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    border-top: 1px solid white;
    padding-top: 1rem;
}

.datepicker {
    color: black;
    margin-left: 1rem;
    width: 100%;
}

.spacehub--btn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.spacehub--btn:hover {
    background-color: var(--secondary-color-light);
}

.spacehub-btn-active {
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, .6),
                inset 4px 4px 4px rgba(0, 0, 0, .6);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn--large {
    width: 30%;
    padding: .5rem 4rem;

}


.POD-WIdget .modal-content {
    background-color: transparent!important;
}

.POD-WIdget .modal-dialog {
    max-width: 100%!important;
}
.POD-WIdget .modal-dialog .modal-header {
   justify-content: center;
    align-items: center;
}

.POD-WIdget .modal-dialog .modal-header span {
    font-size: 2rem;
}

.POD-WIdget .modal-dialog .modal-header button {
    margin-left: 2rem;
}

.spacehub--alert {
    transform: translateY(-6rem);
    word-break: break-all;
    border-radius: 25px;
    width: 50%;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}


.spacehub--alert-primary {
    background-color: var(--primary-color);
}

.spacehub--alert-secondary {
    background-color: var(--secondary-color);
}
.spacehub--alert-error {
    background-color: var(--error-bg);
    border: 2px solid var(--error-border);
    width: 65%;
}
.spacehub--alert-error,
    .spacehub--alert-error > *,
.spacehub--alert-msg,
    .spacehub--alert-msg > *,
.spacehub--alert-msg-admin,
    .spacehub--alert-msg-admin > *,
.spacehub--alert-success,
    .spacehub--alert-success > *{
    color: white;
}

.spacehub--alert-success {
    background-color: var(--thernary--color);
    border: 2px solid var(--error-border);
    width: 65%;
}

/* CSS STATE CHANGES */
.spacehub--hide {
    display: none;
}

.spacehub--transform {
    -webkit-transform: scaleY(0);
        transform: scaleY(0);
    -webkit-transform-origin: top;
          transform-origin: top;
}

.spacehub--screen {
    position: relative;
}

.content--loading img,
.content--loading iframe {
    opacity: 0;
}

.spacehub--is-loading-container {
    background-color: black;
    z-index: 998;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
Spinner Credit --->
Youtuber: @dcode https://www.youtube.com/watch?v=trsuokl2Fp4
CodePen: https://codepen.io/dcode-software/pen/vYKVepQ
*/

.spacehub--is-loading {
    display: flex;
    justify-content: center;
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -60%);
}

.spacehub--is-loading::after {
  content: "";
  width: 50px;
  height: 50px;
  background: var(--secondary-color);
  opacity: 0.5;
  border-radius: 50%;
  animation: loading-spinner .5s ease-in-out infinite alternate;
}

.iframe-website,
.iframe-website iframe {
    width: 50%;
}

.flex-column-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes loading-spinner {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    10% {
        opacity: .2;
        transform: scale(.10);
        background: var(--error-border);

    }

    25% {
         opacity: .25;
        transform: scale(.25);
        background: var(--error-text);
    }
    50% {
          opacity: .75;
            transform: scale(.50);
           background: var(--secondary-color-dark);
    }
    75% {
        opacity: 1;
        transform: scale(1);
        background: var(--secondary-color);
    }
    100% {
        opacity: 1;
        transform: scale(1.5);
        background: var(--secondary-color-light);
    }

}

.spacehub--footer {
  margin-top: 5rem;
}

/* MEDIAS */

/* ------------ SmartPhone */
@media screen and (min-width: 0px) {
    .spacehub--navbar {
        position: unset;
        width: 70%;
    }
    .spacehub--navbar-items {
       font-size: .9rem;
           height: 35vh;
    }

    html, body {
        font-size: 54%;
    }

    .spacehub--header {
        height: 0vh;
    }
    .spacehub--footer {
      margin-top: 25rem;
    }
    .spacehub--video {
        height: 35vh;
    }
    .spacehub--figure-caption {
        font-size: .7rem!important;
    }
    .spacehub--figure-caption-static {
        font-size: .7rem!important;
    }

    .spacehub--card-many-wrapper {
        grid-template-columns: auto;
    }
    .spacehub--image-sized  {
        width: 150px;
        height: 150px;
    }
    .spacehub--card-many-item {
        width: 100%;
    }
    .separator {
         margin: 25rem 0;
     }
    .separator--small {
         margin: 3rem  0;
     }
    .spacehub--figure-caption {
         width: 100%;
     }

}
/* ------------ iPads, Tablets */
@media screen and (min-width: 481px) {
    html, body {
        font-size: 75%;
    }
    .spacehub--header {
        height: 25vh;
    }
    .spacehub--footer {
      margin-top: 15rem;
    }
    .spacehub--video {
        height: 50vh;
    }
    .spacehub--figure-caption {
        font-size: .9rem!important;
    }
    .spacehub--figure-caption-static {
        font-size: .9rem!important;
    }
     .spacehub--image-sized  {
        width: 200px;
        height: 200px;
    }
    .spacehub--card-many-item {
        width: 100%;
    }
    .separator {
         margin: 15rem 0;
     }
    .separator--small {
         margin: 3rem  0;
     }
     .spacehub--figure-caption {
         width: 100%;
     }

}

 /* ------------ Small screens, laptops */
@media screen and (min-width: 769px) {
     html, body {
        font-size: 85%;
    }
    .spacehub--navbar {
        position: fixed;
         width: 80%;
    }
    .spacehub--navbar-items {

         font-size: 1.5rem;
         height: 50vh;
    }

    .spacehub--header {
        height: 150vh;
    }
    .spacehub--footer {
      margin-top: 15rem;
    }
    .spacehub--video {
        height: 50vh;
    }
    .spacehub--figure-caption {
        font-size: 1.1rem!important;
    }
    .spacehub--figure-caption-static {
        font-size: 1.1rem!important;
    }
    .spacehub--card-many-wrapper {
        grid-template-columns: auto auto ;
    }
     .spacehub--image-sized  {
       width: 250px;
    height: 250px;
    }
    .spacehub--card-many-item {
        width: 100%;
    }
     .separator {
         margin: 3rem 0;
     }
     .separator--small {
         margin:0;
     }
      .spacehub--figure-caption {
        width: 100%;
     }


}
 /* ------------ Desktops, large screens */
@media screen and (min-width: 1025px)  {
     html, body {
        font-size: 100%;
    }
    .spacehub--navbar {
         width: 100%;
    }
    .spacehub--footer {
      margin-top: 5rem;
    }
    .spacehub--video {
        height: 100vh;
    }
    .spacehub--figure-caption {
        font-size: 1.2rem!important;
    }
     .spacehub--figure-caption-static {
         font-size: 1.2rem!important;
    }
    .spacehub--card-many-wrapper {
        grid-template-columns: auto auto auto;
    }
    .separator {
         margin: 2rem 0;
     }
    .spacehub--figure-caption {
        width: 100%;
     }

}

 /* ------------ Extra large screens */
@media screen and (min-width: 1201px) {
    .spacehub--header {
        height: 150vh;
    }
    .spacehub--figure-caption {
        font-size: 1.2rem!important;
    }
     .spacehub--figure-caption-static {
         font-size: 1.2rem!important;
    }
     .separator {
         margin: 0;
     }
      .spacehub--figure-caption {
        width: 100%;
     }

}
