<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="mailto:fredbau91@gmail.com" role="button">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://stackoverflow.com/users/13903942/federico-baù" role="button" target="_blank">
        <i class="fab fa-stack-overflow"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://federicobau.dev/" role="button" target="_blank">
       <i class="fas fa-atlas"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1"
         href="https://www.linkedin.com/in/federico-baù-7a65338a/" role="button" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Koubae" role="button" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </section>

    <section class="mb-4">
      <p>
       Nasa based webapp using the <a class="spacehub--link" href="https://api.nasa.gov" target="_blank">Nasa API</a>
      </p>
    </section>

  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: <a class="text-white" href="https://federicobau.dev/" target="_blank">federicobau.dev</a>
  </div>
</footer>
